<html>
  <head>
    {% load static %}      
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' href='{% static "login_app/style.css" %}' />
    
  </head>
  <body>

    <div class="container">
      <div class="jumbotron nav">
        <nav>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </nav>
      </div>
      <h3 class="text-muted">Add Person</h3>    
      <div class="jumbotron register">
        <form action="/process_register" method="post">
          {% csrf_token %}
          <div class="form-group row col-md-4"></div>                
          <div class="form-group row col-md-4">
            <div class="col-sm-10">
              <input type="text" class="form-control" name='first_name' placeholder="Fisrt Name">
            </div>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='last_name' placeholder="Last Name">
            </div>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='b_date' placeholder="Birthday YYYY-MM-DD">
            </div>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='email' placeholder="Email">
            </div>

            <div class="offset-sm-2 col-sm-10">
                <br><br>
                <button type="submit" class="lng btn btn-primary">Add</button>
            </div>
          </div>
        </form>
        {% for message in messages %}
         {% if message.extra_tags == 'register'%}
            <p>{{message}}</p>
         {% endif %}
        {% endfor %}
      </div>

    </div>
  </body>
</html>